<h2 mat-dialog-title>Añadir Tema</h2>
<mat-dialog-content>
  <form>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Número</mat-label>
      <input matInput type="number" [(ngModel)]="tema.numero" name="numero" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" [(ngModel)]="tema.nombre" name="nombre" required />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button class="cancel-button" (click)="onCancel()">Cancelar</button>
  <button mat-button class="save-button" (click)="onSave()">Guardar</button>
</mat-dialog-actions>
