<mat-toolbar color="primary">
    <mat-icon class="icon-display" aria-hidden="false" fontIcon="school"></mat-icon>
   <img src="assets/title-1.png">
    <div class="spacer"></div>
      <a mat-button routerLink="/inicio"> <mat-icon>home</mat-icon>Inicio</a>
      <a mat-button routerLink="/temas"> <mat-icon>book</mat-icon>Temas</a>
      <a mat-button routerLink="/recompensas"><mat-icon>emoji_events</mat-icon>Recompensas</a>
      <a mat-button routerLink="/ayuda"><mat-icon>help</mat-icon>Ayuda</a>
      <a mat-button routerLink=""><mat-icon>logout</mat-icon>Salir</a>
    </mat-toolbar>