.reward-pendiente {
  margin: 2% auto;
  padding: 15px;
  border: 2px solid #ccc;
  text-align: center;
  box-shadow: 10px 7px 0px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

table {
  width: 100%;
}

button {
  background-color: #fd94bd !important;
  color: white !important;
  font-family: "Unicorn";
  width:50%;
}

h1,
h3 {
  font-family: "Unicorn";
  font-weight: 100;
}

.tabs-container {
  max-width: 95%;
  /* Define el ancho máximo que deseas para las tabs */
  margin: 0 auto;
  /* Centra el contenedor */

}

.mat-tab-group {
  width: 100%;
  /* El tab-group ocupará todo el ancho del contenedor limitado */
}

.custom-badge .mat-badge-content {
  top: -10px;
  /* Mueve el badge hacia arriba */
  right: -10px;
  /* Mueve el badge hacia la derecha */
}

.grid-container {
  display: flex;
  justify-content: center; // Centrar horizontalmente
  align-items: center; // Centrar verticalmente
  height: 70vh; // Altura completa de la ventana
  flex-wrap: wrap;
  margin-top: 2%;
}

.premio-card {
  margin: 20px;
  max-width: 20%;
  text-align: center;
  border-radius: 30px;
}

.fancy {
  --b: 6px;
  /* control the border thickness */
  --w: 10em;
  /* control the width of the line*/
  --g: 15px;
  /* control the gap */
  --c: #fd94bd;

  width: fit-content;
  padding: 0 1em;
  line-height: 1.6em;
  border: 1px solid;
  color: #fff;
  background:
    conic-gradient(from 45deg at left, var(--c) 25%, #0000 0) 0,
    conic-gradient(from -135deg at right, var(--c) 25%, #0000 0) 100%;
  background-size: 51% 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-image:
    linear-gradient(#0000 calc(50% - var(--b)/2),
      var(--c) 0 calc(50% + var(--b)/2),
      #0000 0) 1/0 var(--w)/calc(var(--w) + var(--g));
  margin-inline: auto;
}

.mdc-tab__text-label{
  color: #000 !important;
}

.lottie {
  height: 300px;
}

.no-premios-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%; /* Ancho amplio para el card */
  max-width: 800px;
  margin: 5% auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra del card */
  border-radius: 20px;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.text-section {
  flex: 1;
  text-align: center;
}


.premio-pendiente {
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 19px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.regalo{
  height: 130px;
}


.or-spacer-vertical {
  
  .mask { 
    overflow:hidden; width:20px; height:200px; 
    //outline:1px solid pink;
  }

  &.right .mask:before { 
    content:''; 
    display:block; margin-left:20px;
    width:20px; height:100%; 
    border-radius:12px / 125px; 
    box-shadow:0 0 8px black;
  }
}

