.reward-pendiente {
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

table {
  width: 100%;
}

button {
  background-color:  #fd94bd !important;
  color: white !important;
  font-family: "Unicorn";
}

h2,h3 {
font-family: "Unicorn";
font-weight: 100;
}

.tabs-container {
  max-width: 95%; /* Define el ancho máximo que deseas para las tabs */
  margin: 0 auto; /* Centra el contenedor */
  padding: 20px; /* Añade un poco de espacio interno */
}

.mat-tab-group {
  width: 100%; /* El tab-group ocupará todo el ancho del contenedor limitado */
}

.custom-badge .mat-badge-content {
  top: -10px;  /* Mueve el badge hacia arriba */
  right: -10px; /* Mueve el badge hacia la derecha */
}

.grid-container {
  display: flex;
  justify-content: center;  // Centrar horizontalmente
  align-items: center;      // Centrar verticalmente
  height: 70vh;            // Altura completa de la ventana
  flex-wrap: wrap;
  margin-top: 2%;      
}

.premio-card {
  margin: 20px; 
  max-width: 20%;
  text-align: center;
}




