<!-- Componente de Tabs para las recompensas -->
<h2 style="font-family: Unicorn;">Premios</h2>

<div class="tabs-container">
<mat-tab-group>
  <!-- Tab para Recompensas Canjeadas -->
  <mat-tab label="Canjeados">
    <!-- Aquí mostramos las recompensas que tienen canjeado = true -->
    <div class="grid-container">
      <mat-card *ngFor="let premio of canjeadas" class="premio-card">
        <img mat-card-image [src]="premio.imagen" alt="Premio imagen">
        <mat-card-content>
          <h3>{{ premio.nombre }}</h3>
          <p>Canjeado en: {{ premio.fechaCanjeo | date: 'dd/MM/yyyy' }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>

  <!-- Tab para Recompensas Pendientes -->
  <mat-tab label="Pendientes">
    <ng-template mat-tab-label>
      Pendientes
      <span [matBadge]="pendientes.length" [matBadgeHidden]="pendientes.length===0" matBadgeColor="accent" matBadgeOverlap="false" class="custom-badge" matBadgeSize="small"> <!-- mat-badge agregado -->
      </span>
    </ng-template>
    <!-- Aquí mostramos solo un botón de canjear para recompensas pendientes -->
    <div *ngFor="let reward of pendientes" class="reward-pendiente">
      <h3>Recompensa disponible para canjear</h3>
      <button mat-raised-button color="primary" (click)="canjear(reward)">
        <mat-icon>emoji_events</mat-icon>
        Canjear
      </button>
    </div>
  </mat-tab>
</mat-tab-group>
</div>
