<!-- Componente de Tabs para las recompensas -->
<h2 style="font-family: Unicorn;">Premios</h2>

<div class="tabs-container">
<mat-tab-group>
  <!-- Tab para Recompensas Canjeadas -->
  <mat-tab label="Canjeados">
    <!-- Aquí mostramos las recompensas que tienen canjeado = true -->
    <table mat-table [dataSource]="canjeadas" class="mat-elevation-z8">
      <!-- Nombre de la recompensa -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let reward"> {{ reward.nombre }} </td>
      </ng-container>

      <!-- Columna de Fecha -->
      <ng-container matColumnDef="fechaCanjeo">
        <th mat-header-cell *matHeaderCellDef> Fecha de Canjeo </th>
        <td mat-cell *matCellDef="let reward"> {{ reward.fechaCanjeo | date }} </td>
      </ng-container>

      <!-- Definición de las columnas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-tab>

  <!-- Tab para Recompensas Pendientes -->
  <mat-tab label="Pendientes">
    <ng-template mat-tab-label>
      Pendientes
      <span [matBadge]="pendientes.length" [matBadgeHidden]="pendientes.length===0" matBadgeColor="accent" matBadgeOverlap="false" class="custom-badge" matBadgeSize="small"> <!-- mat-badge agregado -->
      </span>
    </ng-template>
    <!-- Aquí mostramos solo un botón de canjear para recompensas pendientes -->
    <div *ngFor="let reward of pendientes" class="reward-pendiente">
      <h3>Recompensa disponible para canjear</h3>
      <button mat-raised-button color="primary" (click)="canjear(reward)">
        <mat-icon>emoji_events</mat-icon>
        Canjear
      </button>
    </div>
  </mat-tab>
</mat-tab-group>
</div>
