<div class="temas-container" >
  <!-- Botón para añadir un nuevo tema -->
  <div class="header">
    <div class="add-tema-container">
      <button mat-raised-button class="add-tema-btn" (click)="openDialog()">
        <mat-icon>add</mat-icon>Añadir tema
      </button>
    </div>

    <h2 style="font-family: Unicorn;"  *ngIf="dataSource.data.length > 0">Temas</h2>


    <!-- Filtro para seleccionar estado de los temas -->
    <mat-form-field appearance="fill" class="filter-select" *ngIf="dataSource.data.length > 0">
      <mat-label>Filtrar por</mat-label>
      <mat-select [(value)]="filtroSeleccionado" (selectionChange)="filtrarTemas()">
        <mat-option value="todos">Todos</mat-option>
        <mat-option value="pendientes">Pendientes</mat-option>
        <mat-option value="completados">Completados</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="dataSource.data.length === 0">
    <img src="assets/no_temas.jpg">
  </div>

  <!-- Tabla para mostrar los temas filtrados -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.data.length > 0">
    <!-- Columna de nombre del tema -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef class="centered-cell"> Número </th>
      <td mat-cell *matCellDef="let tema" class="centered-cell"> {{ tema.numero }} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef class="centered-cell"> Nombre </th>
      <td mat-cell *matCellDef="let tema" class="centered-cell"> {{ tema.nombre }} </td>
    </ng-container>

    <ng-container matColumnDef="numero_repasos">
      <th mat-header-cell *matHeaderCellDef class="centered-cell"> Número Repasos </th>
      <td mat-cell *matCellDef="let tema" class="centered-cell">
        {{ tema.completado ? tema.repasos : '-' }}
      </td>
    </ng-container>

    <!-- Columna de estado del tema -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef class="centered-cell"> Estado </th>
      <td mat-cell *matCellDef="let tema" class="centered-cell">
        <ng-container *ngIf="tema.completado; else pendiente">
          <mat-icon class="icon-display-completed" matTooltip="Completado">check_small</mat-icon>
        </ng-container>
        <ng-template #pendiente>
          <mat-icon class="icon-display-pending" matTooltip="Pendiente">timer</mat-icon>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="centered-cell"> Acciones </th>
      <td mat-cell *matCellDef="let tema" class="centered-cell">
        <button [disabled]="tema.completado"
          [ngClass]="{'icon-completado': tema.completado, 'icon-pendiente': !tema.completado}">
          <mat-icon (click)="completarTema(tema)" matTooltip="Completar tema"
            [ngClass]="{'icon-completado': tema.completado, 'icon-pendiente': !tema.completado}">check_circle</mat-icon>
        </button>
        <button>
          <mat-icon  (click)="openConfirmDialog(tema)" class="icon-display-delete" matTooltip="Eliminar tema">delete</mat-icon>
        </button>

      </td>
    </ng-container>

    <!-- Encabezados y filas de la tabla -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements" *ngIf="dataSource.data.length > 0">
  </mat-paginator>
</div>
