

<div class="birthday-popup">
    <div class="corazon">
        <ng-lottie [options]="lottieOptions"></ng-lottie>
      </div>
    <div class="popup-content">
      <h2>¡MUCHISIMAS FELICIDADES AMOR!</h2>
      <p>Que este año esté lleno de risas, abrazos y sueños cumplidos. Gracias por ser mi alegría constante y mi mejor compañera en cada aventura.
        <br> ¡Te amo lo más grande, hoy y siempre! ❤️</p>
        <div class="boton-cerrar">
      <button mat-button (click)="closeDialog()" class="cerrar">Cerrar</button>
        </div>
    </div>
    <img src="assets/frame.png" width="170px" height="170px">

  </div>